<div>
  <div class="flex justify-between items-center mb-8">
    <!-- Header Texts -->
    <div class="space-y-1">
      <h2 class="text-3xl font-bold text-neutral-800">Team Members</h2>
      <p class="text-neutral-500">Manage your staff and control access levels easily.</p>
    </div>

    <!-- Actions Area -->
    <div class="flex items-center gap-4">
      <div class="w-72 mt-2">
        <input-field
          placeholder="Search teammates..."
          (ngModelChange)="onSearch($event)"
          [ngModel]="searchQuery()"
          id="search"
          name="search"
        >
        </input-field>
      </div>
      <div class="mt-2">
        <ui-button text="Add Team Mate" variant="black" routerLink="/team/new"> </ui-button>
      </div>
    </div>
  </div>

  <!-- Loading State -->
  <div *ngIf="isLoading()" class="flex justify-center items-center py-20">
    <mat-icon class="animate-spin text-primary text-4xl w-10 h-10">autorenew</mat-icon>
  </div>

  <!-- Data Table -->
  <div *ngIf="!isLoading()">
    <app-table [columns]="columns" [data]="filteredMembers()"></app-table>

    <!-- Empty State -->
    <div
      *ngIf="filteredMembers().length === 0"
      class="text-center py-12 bg-white rounded-xl border border-neutral-200 mt-4"
    >
      <mat-icon class="text-neutral-300 w-16 h-16 text-6xl mb-4">group_off</mat-icon>
      <h3 class="text-lg font-medium text-neutral-700">No teammates found</h3>
      <p class="text-neutral-500 mt-1">Try adjusting your search query.</p>
    </div>
  </div>
</div>
