<app-kdsscreen
  [activeLink]="'/kds/completed'"
  [activeText]="'Completed'"
  [orderLength]="orderLength"
>
  <h1 class="m-5 text-2xl font-semibold">Completed Orders</h1>
  <div class="grid grid-cols-[repeat(auto-fit,minmax(20rem,1fr))] justify-items-center gap-6 m-5">
    <div
      *ngFor="let item of orderedData"
      class="bg-white rounded-xl shadow py-5 flex flex-col border border-neutral-200"
    >
      <div class="px-6">
        <div class="flex justify-between text-sm text-neutral-500">
          <p>Table: {{ item.tableId || '-' }}</p>
          <p>{{ item.createdAt }}</p>
        </div>
        <p class="font-semibold text-lg mt-1">Order #{{ item.orderId }}</p>
      </div>
      <hr class="my-2" />
      <div class="px-6">
        <p class="text-sm">
          <span class="text-neutral-500">Customer:</span> {{ item.customerName }}
        </p>
        <p class="text-sm"><span class="text-neutral-500">Phone:</span> {{ item.customerPhone }}</p>
      </div>
      <hr class="my-2" />
      <div *ngFor="let i of item.cartItems" class="px-6">
        <p class="font-medium text-sm py-1">
          {{ i.quantity }}x {{ i.name }} <span class="text-neutral-400">— ₹{{ i.totalPrice }}</span>
        </p>
      </div>
      <div class="px-6 pt-3 flex gap-2">
        <a
          [routerLink]="['/kds/order', item.orderId]"
          class="text-primary text-sm font-medium hover:underline cursor-pointer"
          >View Details</a
        >
        <span class="text-neutral-300">|</span>
        <a
          [routerLink]="['/kds/order', item.orderId]"
          class="text-neutral-600 text-sm font-medium hover:underline cursor-pointer"
          >See Bill</a
        >
      </div>
      <div class="px-4 pt-3 mt-auto flex gap-1">
        <p class="text-green-500 flex-1 py-2.5 text-center font-medium">✓ Completed</p>
        <button
          class="bg-white border border-neutral-300 px-3 py-2.5 rounded-lg flex justify-center items-center hover:bg-gray-200 cursor-pointer"
          (click)="printPage()"
        >
          <span class="material-icons text-2xl">print</span>
        </button>
      </div>
    </div>
  </div>
</app-kdsscreen>
