<div class="bg-bg-sec min-h-screen flex flex-col">

    <header class="fixed top-0 w-full bg-white shadow-sm text-neutral-500 flex items-center z-50">
        <h1 class="w-20">🔍 Search</h1>   
        <div class="flex justify-center gap-6 w-full p-4">
            <a *ngFor="let item of navHeadItems"
                href="#"
                [routerLink]="item.link"
                [class.text-black]="isActive(item.link)"
                [class.underline]="isActive(item.link)">
                {{ item.text }}
                <span *ngIf="activeText===item.text">{{orderLength}}</span>
            </a>
        </div>
    </header>

    <main class="mb-20 mx-10">
        <ng-content></ng-content>
    </main>

    <footer class="fixed bottom-0 w-full bg-white shadow-sm text-neutral-500">
        <div class="flex justify-center gap-8 p-4">
            <a *ngFor="let item of navFootItems"
            href="#"
            [routerLink]="item.link"
            [class.text-black]="isActive(item.link)"
            [class.underline]="isActive(item.link)">
            {{item.text}}
            <span *ngIf="activeText===item.text">{{orderLength}}</span>
            </a>
        </div>
    </footer>
</div>

